.execs {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
}

.exec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.template {
  width: 25rem;
  height: 25rem;
  border: 0.2rem solid gray;
}

.picture {
  max-width: 20rem;
  border: 0.2rem solid gray;
}

.description {
  max-width: 30rem;
}

.line {
  border-top: 0.2rem solid #bbb;
  align-self: center;
  width: 80%;
  margin-top: 1.5rem;
}

h2 {
  width: 100%;
  margin-bottom: 1.5rem;
}
